@font-face {
    font-family: 'Kannada';
    src: url('Asset/Kannada\ Sangam\ MN.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
    color: white;
}

body {
    overflow: hidden;
}

.container>div {
    width: 2240px;
    height: 3800px;
}

.up {
    z-index: 2;
    margin-top: -950px;
    transform: rotate(-0.9274rad) translate(1167px, -640px);
    transition: transform 1.6s ease-out;
}

.down {
    margin-top: -1786px;
    margin-left: -976px;
    transform: rotate(-0.9274rad) translate(1167px, -30940px);
    transition: transform 1.6s ease-out;
    position: relative;
    z-index: 2;
}

.up>div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.down>div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.downWrapper {
    box-shadow: 15px 2px 64px rgb(0 0 0 / 40%);
    z-index: 15;
}

.content {
    position: absolute;
    top: 27%;
    left: 6%;
    z-index: 5;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.nameDept {
    z-index: 2;
    margin-top: 20%;
    margin-left: 2vw;
    
}

.nameDept h3 {
    font-size: 10.2em;
    font-family: 'Poppins';
    letter-spacing: 5px;
    z-index: 2;
    line-height: 1em;
    transition: transform 0.8s ease-in-out;
    /* transition: opacity 0.2s ease-in-out; */
    /* line-height: 1em; */
}

.nameDept p {
    font-size: 3.5em;
    line-height: 1.3em;
    margin-top: 0.6em;
    font-family: 'Kannada';
    z-index: 2;
    width: 45vw;
    margin-top: 1.6em;
    transition: transform 0.8s ease-in-out;
    /* transition: opacity 0.2s ease-in-out; */
}
.photoContainer{
    transition: transform 0.8s ease-out;
}

svg {
    z-index: 1;
    position: absolute;
    
    transition: filter 0.7s ease;
}

.topRight {
    top: -15%;
    right: -5%;
    filter: hue-rotate(200deg);
    animation: spinner 6s infinite;
}

.gear {
    top: -11%;
    left: 20%;
    animation: spinner2 6s infinite;
    filter: hue-rotate(190deg);
}

.dots {
    position: absolute;
    /* top: -100%; */
    left: -14%;
    width: 68%;
}
.lines{
    position: absolute;
    top: -34%;
    left: -6%;
}

.dots img {
    width: 100%;
}

.imgHere {
    z-index: 1;
}

.imgHere img {
    z-index: 1;
    width: 40vw;
    height: 80vh;
    margin-left: -550px;
}


@media (max-width: 1400px) {
    .gear {
        top: -50%;
        left: 17%;
        width: 38vw;
        animation: spinner2 6s infinite;
        z-index: 1;
    }

    .topRight {
        width: 26vw;
        top: -36%;
        right: -10%; 
    }

    .nameDept h3 {
        font-size: 3.8em;
        letter-spacing: 1px;
        width: 65vw;
    }

    .nameDept p {
        font-size: 1.8em;
    }

}

@keyframes spinner {
    60% {
        transform: rotate(120deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spinner2 {
    60% {
        transform: rotate(-120deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

/* transform: translateY(2000px); */